/** <pre>
 * highlightOverride.css
 *
 * @description
 * Altering GeSHi syntax highlighting to resemble github editor
 *
 * @author Cam
 *
 * @notes
 * GeSHi.css is found as text/css in head tags, and will override any external stylesheets
 * Forced to use either tags or parent node in selector or !important with each property
 * Opted for tag for time being
 */

/* ========================================================= */
/*          JavaScript                                       */
/* ========================================================= */

/**
 * Background
 */
pre.javascript.source-javascript {
    background-color: #141414;
    color: #fff;
    border:1px solid #b2b2b2;
    font-family: 'Ubuntu Mono', monospace;
}

/* (unknown) */
pre.javascript.source-javascript .imp {}

/**
 * Reserved words/keywords
 * 
 * break, case, catch, const, continue, default, delete, do,
 * else, finally, for, function, get, goto, if, in, instanceof,
 * new, prototype, return, set, static, switch, this, throw,
 * try , typeof, var, void
 */
pre.javascript.source-javascript .kw1 {
    color: #cc7a00;
    font-weight: normal;
}

/**
 * Literals
 *
 * true, false, null, undefined, NaN, Infinity
 */
pre.javascript.source-javascript .kw2 {
    color: #c00;
    font-weight: normal;
}

/**
 * Magic properties
 *
 * __proto__, __defineGetter__, __defineSetter__, hasOwnProperty, hasProperty
 */
pre.javascript.source-javascript .kw3 {
    /* @todo */
}

/**
 * Type constructors
 *
 * Object, Function, Date, Math, String, Number, Boolean, Array
 */
pre.javascript.source-javascript .kw4 {
    /* @todo */
}

/**
 * Reserved, but invalid, words
 *
 * abstract, boolean, byte, char, class, debugger, double, enum, export, extends,
 * final, float, implements, import, int, interface, long, native,
 * short, super, synchronized, throws, transient, volatile
 */
pre.javascript.source-javascript .kw5 {
    /* @todo */
}

/**
 * Single line comments
 */
pre.javascript.source-javascript .co1 {
    color: #595959;
    font-style: normal;
}

/**
 * Regex
 */
pre.javascript.source-javascript .co2 {
    color: #19ac8e;
}

/**
 * Block comments
 */
pre.javascript.source-javascript .coMULTI {
    color: #595959;
    font-style: normal;
}

/**
 * Escape characters
 */
pre.javascript.source-javascript .es0 {
    color: #09f;
}

/**
 * Brackets
 */
pre.javascript.source-javascript .br0 {
    color: #090;
}

/**
 * Symbols
 */
pre.javascript.source-javascript .sy0 {
    color: #cc7a00;
}

/**
 * Strings
 */
pre.javascript.source-javascript .st0 {
    color: #ccc;
}

/**
 * Numbers
 */
pre.javascript.source-javascript .nu0 {
    color: #c00;
}

/**
 * Methods and properties
 */
pre.javascript.source-javascript .me1 {
    color: #8a4acc;
}

/* </pre> */